<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>오늘</title>
</head>
<body>
    <p>오늘의 날씨는 어떨까요</p>
    <div id="ww_36eac84f01222" v='1.3' loc='id' a='{"t":"horizontal","lang":"ko","sl_lpl":1,"ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'>Weather Data Source: <a href="https://wetterlang.de/seoul_wetter_30_tage/" id="ww_36eac84f01222_u" target="_blank">Wetter 30 tage vorhersage Seoul</a></div><script async src="https://app2.weatherwidget.org/js/?id=ww_36eac84f01222"></script>
</body>
</html>